h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.container {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 13px;
}
li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}
.container a {
  text-decoration: none;
  color: grey;
}
h2 {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}
.noFuture {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}